#container {
  display: flex;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 40px 0 30px 100px;
}
#circle1 {
  background: red;
}
#circle2 {
  background: green;
}
#btn1, #btn2 {
  width: 75px;
  height: 40px;
  border-color: 1px black solid;
  margin-left: 100px;
  border-radius: 5px;
}

/* ======================================= */
#circle3 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: blue;
  transform: translate3d(50px, 50px, 0);
  transition: transform .3s cubic-bezier(.64,.31,.5,.93);
}
#contentContainer {
  display: flex;
  width: 550px;
  height: 350px;
  border: 1px solid black; 
  background: rgb(152, 243, 159);
  overflow: hidden;
  cursor: pointer;
}

